body {
    background-color: #fdf7f3;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    margin: 0px;
    font-size: 1.25vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 1%;
    border-radius: 100%;
    text-shadow:
    2px 2px 6px rgb(167, 13, 146),
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    text-align:end;
    background-color: #008080;
    color: #ecece4 ;
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content:space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul >li {
    padding: 8px ;
    margin: 14px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration:underline;
    text-decoration-style:inherit;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 30%;
}

body > main article {
    width: 70%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%
}

form {
    text-align: center ;
}

h2 {
    text-align: center;
}
body > footer {
    margin-top: -2%;
    text-align:end;
    height: 10vw;
    background-color: #008080;
    display: flex;
}

img {
    margin-top: -15vw;
    position: relative;
    right: -50vw;
    border-radius: 20%;
}
#footer-ul {

    display: flex;
    list-style: none;
}
#footer-ul > div > li {
    margin-left: 12px;
}
#footer-ul > div > li > a {
    text-decoration: none;
    color: black;
}
aside {
    position: relative;
    right: -4vw;

    text-align: center;
    margin-top: 40vw;
        border: 3px solid #008080;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
        height: 55vh;
        width: 13vw;
       margin-inline-end: -5%;    
}
.about-me-aside {
    position: relative;
    right: 6vw;
    display: flex;
    margin-top: 90vw ;
    margin-inline-end: 10%;
    border: 3px solid #008080; /* Different color for this aside */
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    width: 13vw;
  }